<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание обращения</title>
</head>
<body>
  <h1>Создание обращения</h1>
     <form method="POST">
        <label>Тема обращения</label><br>
        <input name="subject" class=""/><br><br>
        <label>Текст обращения</label><br>
        <input name="text" class="" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку обращений</a>  
</body>
</html>